<div>
    <h1>this heading</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id minima voluptatum quos veniam, nihil voluptas explicabo sunt sequi nostrum? Debitis ab consequuntur nobis unde doloremque tempora nihil. Earum, omnis corrupti!</p>
</div>

<ng-sidebar-container>
    <!-- Sidebar -->
    <ng-sidebar [opened]="opened">
        <p>Sidebar Contents</p>
        <button (click)="toggleSidebar()">Close Sidebar</button>
        <ul class="menu">
            <li><a routerLink="/" (click)="toggleSidebar">Dashboard</a></li>
            <li><a routerLink="/posts"(click)="toggleSidebar">Posts</a></li>
            <li><a routerLink="/contact"(click)="toggleSidebar">Contacts</a></li>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
        <!-- Page Header -->
        <button (click)="toggleSidebar()">
            Open Sidebar
        </button>
        <!-- Page Body -->
        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>
